<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordTicket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordTicket.Properties.Settings>
            <setting name="FacultyName" serializeAs="String">
                <value />
            </setting>
            <setting name="DepartmentAbbreviation" serializeAs="String">
                <value />
            </setting>
            <setting name="DisciplineName" serializeAs="String">
                <value />
            </setting>
            <setting name="PreparationDirection" serializeAs="String">
                <value />
            </setting>
            <setting name="Course" serializeAs="String">
                <value />
            </setting>
            <setting name="Groups" serializeAs="String">
                <value />
            </setting>
            <setting name="TrainingForm" serializeAs="String">
                <value />
            </setting>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="ProtocolNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="SignatoryPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="FacultyAbbreviation" serializeAs="String">
                <value />
            </setting>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="University" serializeAs="String">
                <value />
            </setting>
            <setting name="Signature" serializeAs="String">
                <value />
            </setting>
            <setting name="TicketNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </WordTicket.Properties.Settings>
    </userSettings>
</configuration>